@import './src/scss-utils/index';

.Calendar {
  flex: 1 0 0;

  &-Grid {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-GridHeader {
    margin: 0;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex: none;
    height: toRem(36);
  }

  &-GridHeaderColumn {
    border: 1px solid var(--border-calendar-main);
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.2857%;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    color: var(--text-secondary);
    text-transform: uppercase;

    &:last-child {
      border-right: none;
    }
  }

  &-GridBody {
    margin: 0;
    overflow: hidden;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
  }

  &-GridBodyRow {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--border-calendar-main);
    display: flex;
    flex: 1 1 0;
  }
}
