@import './src/scss-utils/index';

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex: 0 1 0;
    flex-direction: row;
    border: 1px solid red;
    padding: toRem(4);
    height: toRem(36);
  }

  &__main {
    flex: 1 0 0;
  }

  &__logo,
  &__calendar-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid goldenrod;
  }

  &__logo {
    margin: 0;
    font-size: toRem(20);
    padding-right: toRem(8);
  }

  &__calendar-switcher {
    padding-left: toRem(8);

    &-btn {
      border: 1px solid red;
      background: none;
      font-weight: bold;
      font-size: toRem(20);
      cursor: pointer;
    }

    &-month,
    &-year {
      border: 1px solid grey;
      font-size: toRem(20);
      font-weight: bold;
      padding: toRem(4) toRem(8);
    }
  }

  &__grid {
    border: 1px solid green;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-header {
      border: 1px solid red;
      margin: 0;
      align-items: stretch;
      display: flex;
      flex-direction: row;
      flex: none;
      height: toRem(20);

      &-column {
        border-right: #dadce0 1px solid;
        border: 1px solid;
        flex: 1 1 0%;
        text-align: center;
        font-family: Roboto, Arial, sans-serif;
        text-transform: uppercase;
      }
    }

    &-body {
      border: 1px solid rebeccapurple;
      margin: 0;
      overflow: hidden;
      flex: 1 1 0;
      display: flex;
      flex-direction: column;

      &-row {
        border: 1px solid #61dafb;
        position: relative;
        overflow: hidden;
        border-bottom: #dadce0 1px solid;
        display: flex;
        flex: 1 1 0;

        &-cell {
          font-size: 14px;
          line-height: 30px;
          border-right: #dadce0 1px solid;
          border: 1px solid green;
          color: #70757a;
          flex: 1 1 0;
        }
      }
    }
  }
}
