@import './src/scss-utils/index';

.Calendar {
  flex: 1 0 0;

  &-Grid {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-GridHeader {
    margin: 0;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex: none;
    height: toRem(36);
  }

  &-GridHeaderColumn {
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    border-right: #dadce0 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    color: #70757a;
    text-transform: uppercase;
  }

  &-GridBody {
    margin: 0;
    overflow: hidden;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
  }

  &-GridBodyRow {
    position: relative;
    overflow: hidden;
    border-bottom: #dadce0 1px solid;
    display: flex;
    flex: 1 1 0;
  }

  &-GridBodyRowCell {
    font-size: 18px;
    line-height: 30px;
    border-right: #dadce0 1px solid;
    color: #70757a;
    flex: 1 1 0;

    &_today {
      font-weight: bold;
      color: black;
    }
    &_outOfMonth {
      color: rgba(112, 117, 122, 0.48);
    }
  }
}
