@import './src/scss-utils/index';

.Header {
  display: flex;
  flex: 0 1 0;
  flex-direction: row;
  padding: toRem(4);
  height: toRem(36);

  &-Logo,
  &-CalendarSwitcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 toRem(16);
  }

  &-Logo {
    margin: 0;
    font-size: toRem(20);
    padding-right: toRem(8);
  }

  &-CalendarSwitcher {
    padding-left: toRem(8);
    margin: 0 auto 0 0;
  }

  &-CalendarSwitcherBtn {
    background: none;
    font-size: toRem(18);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    height: toRem(25);
    width: toRem(25);
    margin: 0 toRem(4);
    color: var(--text-secondary);

    & > span {
      height: toRem(20);
      font-size: toRem(20);
      line-height: toRem(20);
      padding-bottom: toRem(4);
      display: flex;
      vertical-align: middle;
    }

    &:hover {
      color: grey;
      color: var(--text-main);
    }
  }

  &-CalendarSwitcherMonth,
  &-CalendarSwitcherYear {
    font-size: toRem(20);
    font-weight: bold;
    padding: toRem(4) toRem(8);
    text-align: left;
  }

  &-LogoutBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 toRem(16);
  }

  &-LogoutBtn {
    border: none;
    background-color: transparent;
    display: flex;
    color: var(--text-secondary);
    cursor: pointer;

    &:hover {
      color: var(--text-main);
    }
  }
}
