@import './src/scss-utils/index';

.Header {
  display: flex;
  flex: 0 1 0;
  flex-direction: row;
  border: 1px solid red;
  padding: toRem(4);
  height: toRem(36);

  &__logo,
  &__calendar-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid goldenrod;
  }

  &__logo {
    margin: 0;
    font-size: toRem(20);
    padding-right: toRem(8);
  }

  &__calendar-switcher {
    padding-left: toRem(8);

    &-btn {
      border: 1px solid red;
      background: none;
      font-weight: bold;
      font-size: toRem(20);
      cursor: pointer;
    }

    &-month,
    &-year {
      border: 1px solid grey;
      font-size: toRem(20);
      font-weight: bold;
      padding: toRem(4) toRem(8);
    }
  }
}
