@import './src/scss-utils/index';

.Header {
  display: flex;
  flex: 0 1 0;
  flex-direction: row;
  padding: toRem(4);
  height: toRem(36);

  &-Logo,
  &-CalendarSwitcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 toRem(16);
  }

  &-Logo {
    margin: 0;
    font-size: toRem(20);
    padding-right: toRem(8);
  }

  &-CalendarSwitcher {
    padding-left: toRem(8);
  }

  &-CalendarSwitcherBtn {
    background: none;
    font-size: toRem(20);
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 50%;
    height: toRem(25);
    width: toRem(25);
    margin: 0 toRem(4);

    &:hover {
      color: grey;
    }
  }

  &-CalendarSwitcherMonth,
  &-CalendarSwitcherYear {
    font-size: toRem(20);
    font-weight: bold;
    padding: toRem(4) toRem(8);
    text-align: left;
  }
}
