@import 'normilize.css';

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  text-rendering: geometricPrecision;

  --border-calendar-main: #dadce0;
  --border-calendar-secondary: #eee;
  --text-secondary: #70757a;
  --text-secondary-light-1: rgba(112, 117, 122, 0.48);
  --text-main: #000;
}

div#root {
  height: 100%;
}
